@keyframes rotation
{
  from
  {
    transform: scale(1) rotate(0deg);

  }
  to
  {
    transform: scale(1) rotate(360deg);
  }
}

@keyframes blink
{
  0%
  {
    opacity: 1;

  }
  50%
  {
    opacity: 0;
  }
  100%
  {
    opacity: 1;
  }
}