@import './theme.pcss';

.ui-bar
{
  display: block;
  position: absolute;
  z-index: var(--z-index-bar);
  top: 0;
  right: 0;
  left: 0;
  height: var(--height-bar);
  padding-right: var(--padding-content);
  background: var(--background-blue);
  box-shadow: var(--shadow-bar);
  color: var(--color-light);
}

.ui-bar-left
{
  float: left;
}

.ui-bar-right
{
  float: right;
}

.ui-bar-item
{
  display: block;
  height: var(--height-bar);
  padding: var(--padding-controls);
  line-height: calc(var(--height-bar) - 2 * var(--padding-controls));
  font-size: var(--font-size-text);
  text-align: center;
}

.ui-bar-button
{
  width: var(--height-bar);
  background-clip: content-box !important;
  cursor: var(--cursor-buttons);

  & .ui-icon
  {
    margin: calc((var(--height-bar) - 2 * var(--padding-controls) - 24px) / 2);
  }

  &:hover
  {
    border-radius: 50%;
    background: var(--background-hover-menu);
  }
}

.ui-bar-title
{
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-header);
  cursor: default;
}

.ui-bar-link
{
  cursor: pointer;

  &:hover
  {
    background: var(--background-hover-menu);
  }
}