@import './theme.pcss';

html, body
{
  width: 100%;
  height: 100%;
  line-height: var(--font-size-text);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
  font-style: var(--font-style-base);
  font-size: var(--font-size-text);
  color: var(--color-dark);
}

html, head, body, div, span, form, a, input, button, select, textarea, table, thead, tbody, tr, td, th, ul, li
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div, a, form, input, button, select, textarea, table, thead, tbody, tr, td, th
{
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  color: inherit;
}

table
{
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  overflow: hidden;
}

:focus
{
  outline: 0;
}

a
{
  text-decoration: none;
}

div:not([dummy])
{
  filter: none !important;
}