@import './theme.pcss';

.ui-button
{
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  min-width: var(--height-controls);
  height: var(--height-controls);
  padding: var(--padding-controls);
  line-height: calc(var(--height-controls) - 2 * var(--padding-controls) - 2 * var(--border-width-controls));
  border: var(--border-width-controls) var(--border-style-controls) transparent;
  border-radius: var(--radius-controls);
  box-shadow: var(--shadow-buttons);
  color: var(--color-light);
  text-align: center;
  cursor: var(--cursor-buttons);

  & + .ui-button
  {
    margin-left: var(--padding-controls);
  }

  &:hover
  {
    box-shadow: var(--shadow-hover-buttons);
    filter: brightness(110%);
  }
}

.ui-button-blue
{
  border-color: var(--border-color-blue);
  background-color: var(--background-blue);
}

.ui-button-gray
{
  border-color: var(--border-color-gray);
  background-color: var(--background-gray);
}

.ui-button-green
{
  border-color: var(--border-color-green);
  background-color: var(--background-green);
}

.ui-button-red
{
  border-color: var(--border-color-red);
  background-color: var(--background-red);
}

.ui-button-white
{
  border-color: var(--border-color-white);
  background-color: var(--background-white);
  box-shadow: var(--shadow-buttons-white);
  color: var(--color-dark);

  &:hover
  {
    box-shadow: var(--shadow-hover-buttons-white);
  }

  & .ui-button-item
  {
    border-left-color: var(--border-color-white) !important;
  }

  & .ui-icon svg
  {
    fill: var(--color-icon-dark);
  }
}

.ui-button-item
{
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  height: calc(var(--height-controls) - 2 * var(--border-width-controls));
  margin: calc(-1 * var(--padding-controls)) 0;
  padding: var(--padding-controls) 0;

  & + .ui-button-item
  {
    margin-left: var(--padding-controls);
    padding-left: var(--padding-controls);
    border-left: var(--border-width-controls) var(--border-style-controls) var(--border-color-buttons-splitter);
  }
}