@import './theme.pcss';

.ui-content
{
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  z-index: 1;
  top: var(--height-bar);
  right: 0;
  bottom: 0;
  left: 0;
  padding: var(--padding-content);

  &.ui-menu-visible
  {
    left: var(--width-menu);
  }
}