@import 'theme.pcss';

.ui-copyright
{
  position: absolute;
  right: var(--padding-content);
  bottom: var(--padding-content);
  height: 28px;
  padding: var(--padding-controls);
  line-height: 14px;
  border-radius: var(--radius-controls);
  background: var(--background-hover-menu);
  font-size: 10px;

  & > *
  {
    vertical-align: bottom;
  }
}