@import './theme.pcss';

.ui-dialog-overlay
{
  display: block;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .7);
  text-align: center;
}

.ui-dialog
{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  height: 400px;
  margin-top: -200px;
  margin-left: -500px;
  border-radius: var(--radius-controls);
  background: #fff;
  box-shadow: var(--shadow-bar);
}