@import './animations.pcss';
@import './theme.pcss';

.ui-icon
{
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  width: var(--height-icons);
  height: var(--height-icons);

  & svg
  {
    vertical-align: top;

    fill: var(--color-icon-light);
  }
}

.ui-icon-wait
{
  animation: rotation var(--animation-wait);
}