@import './theme.pcss';

.ui-input
{
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  width: 100%;
  height: var(--height-controls);
  padding: var(--padding-controls);
  line-height: calc(var(--height-controls) - 2 * var(--padding-controls) - 2 * var(--border-width-controls));
  border: var(--border-width-controls) var(--border-style-controls) var(--border-color-inputs);
  border-radius: var(--radius-controls);
  background: var(--background-inputs);
  box-shadow: var(--shadow-inputs);

  &::placeholder
  {
    opacity: 1;
    color: var(--color-placeholder);
    transition: opacity var(--animation-placeholder);
  }

  &:focus::placeholder
  {
    opacity: 0;
    transition: opacity var(--animation-placeholder);
  }
}