@import './content-login.pcss';

.ui-login-page
{
  position: relative;
  padding: 15px 0;
  text-align: right;
  height: 400px;
  background: linear-gradient(to right, #fff, #ccc);
}

.ui-login-left
{
  float: left;
  height: 400px;
  padding: 0 100px;
}

.ui-login-right
{
  float: left;
  height: 400px;
  padding: 0 100px;
}