@import './theme.pcss';

.ui-menu
{
  overflow: hidden;
  position: absolute;
  z-index: calc(var(--z-index-menu) + 1);
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--width-menu);
  background: var(--background-white);
  box-shadow: var(--shadow-menu);
  transition: width var(--animation-menu);
  user-select: none;
  cursor: default;

  &.ui-menu-hidden
  {
    width: 0;
    transition: width var(--animation-menu);
  }
}

.ui-menu-overlay
{
  position: absolute;
  z-index: var(--z-index-menu);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  visibility: visible;
  opacity: .5;
  transition: opacity var(--animation-menu);

  &.ui-menu-overlay-hidden
  {
    visibility: hidden;
    opacity: 0;
    transition: visibility var(--animation-menu), opacity var(--animation-menu);
  }
}

.ui-menu-title
{
  width: var(--width-menu);
  height: var(--height-bar);
  padding: var(--padding-controls);
  line-height: calc(var(--height-bar) - 2 * var(--padding-controls));
  border-bottom: 1px solid #ddd;
  font-size: var(--font-size-header);
}

.ui-menu-item
{
  width: var(--width-menu);
  height: var(--height-controls);
  padding: var(--padding-controls) var(--padding-content);
  line-height: calc(var(--height-controls) - 2 * var(--padding-controls));
  font-size: var(--font-size-text);
  cursor: pointer;

  &:hover
  {
    background: var(--background-hover-menu);
  }

  &.ui-menu-active
  {
    border-right: 3px solid var(--background-blue);
  }
}

.ui-menu-separator
{
  height: var(--height-controls);
}