@import './theme.pcss';
@import './animations.pcss';

/*.ui-table-pane
{
  padding: var(--padding-table);
  border: var(--border-width-controls) var(--border-style-controls) var(--border-color-table); //border-radius: var(--radius-controls); cursor: var(--cursor-tables); border-radius: var(--radius-controls); box-shadow: var(--shadow-buttons);
}*/

.ui-table-data
{
  table-layout: fixed;
  color: var(--color-table);
}

.ui-table-row-header
{
}

.ui-table-row
{
  &:first-child > .ui-table-column
  {
    border-bottom: var(--padding-content) solid transparent;
  }

  &:nth-child(2n)
  {
    background: var(--background-hover-table);
  }
}

.ui-table-row-data
{
  & + .ui-table-row-data > .ui-table-column
  {
    //border-top: var(--border-width-controls) var(--border-style-controls) var(--border-color-table);
  }

  /* &:hover
  {
    background: #def;
  }*/

  & .ui-input:not(:focus)
  {
    border-color: transparent;
    background: transparent;
    box-shadow: none;
    /*animation: blink var(--animation-inputs);*/
  }
}

.ui-table-column
{
  overflow: hidden;
  height: calc(var(--height-controls) + 2 * var(--padding-table) + var(--border-width-table));
  padding: var(--padding-table);
  line-height: var(--height-controls);
  text-overflow: ellipsis;

  &.ui-table-column-data
  {
    padding: var(--padding-table) calc(var(--padding-table) + var(--padding-controls) + var(--border-width-controls));
  }

  &.ui-table-column-button
  {
    width: calc(var(--height-controls) + 2 * var(--padding-table));
    /*border-top-color: transparent !important;*/
    /*  background: none !important;*/
  }

  /*  &:first-child
    {
      padding-left: calc(2 * var(--padding-table));
    }

    &:last-child
    {
      padding-right: calc(2 * var(--padding-table));
    }*/
}