:root
{
  --z-index-menu: 4;
  --z-index-bar: 3;
  --z-index-content: 2;

  --height-bar: 60px;
  --height-controls: 40px;
  --height-icons: 24px;

  --width-menu: 260px;

  --padding-content: 15px;
  --padding-controls: 7px;
  --padding-table: 4px;

  --border-width-controls: 1px;
  --border-width-table: 1px;

  --border-style-controls: solid;
  --border-style-table: solid;

  --border-color-blue: #18d;
  --border-color-gray: #888;
  --border-color-green: #393;
  --border-color-red: #e34;
  --border-color-white: #bbb;

  --border-color-dark: #999b;
  --border-color-inputs: #ccc;
  --border-color-buttons-splitter: #fffb;
  --border-color-table: #ddd;

  --background-blue: #29e;
  --background-gray: #999;
  --background-green: #4a4;
  --background-red: #f45;
  --background-white: #fff;

  --background-inputs: #fff;
  --background-hover-menu: #0001;
  --background-hover-table: #f8f8f8;

  --radius-controls: 4px;

  --shadow-bar: 0 3px 8px #0004;
  --shadow-menu: 3px 0 8px #0004;
  --shadow-inputs: inset 1px 1px 2px #0001;
  --shadow-buttons: 1px 2px 3px 0 #0004;
  --shadow-buttons-white: 1px 2px 3px 0 #0002;

  --shadow-hover-buttons: 2px 3px 4px 0 #0004;
  --shadow-hover-buttons-white: 2px 3px 4px 0 #0002;

  /*--font-family-base: 'Source Sans Pro', sans-serif;*/
  /*--font-family-base: 'Exo 2', sans-serif;*/
/*  --font-family-base: 'PT Sans', sans-serif;*/
  /*--font-family-base: 'Roboto', sans-serif;*/
  --font-family-base: 'Open Sans', sans-serif;
  --font-style-base: normal;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;

  --font-size-header: 20px;
  --font-size-description: 10px;
  --font-size-text: 14px;

  --color-light: #fff;
  --color-dark: #222;
  --color-table: #666;

  --color-icon-light: #fff;
  --color-icon-dark: #888;

  --color-placeholder: #bbb;

  --color-gradient-dark: linear-gradient(#6668, #666);
  --color-gradient-light: linear-gradient(#fffc, #fff);

  --cursor-buttons: pointer;
  --cursor-tables: default;

  --animation-menu: .18s ease;
  --animation-placeholder: .3s ease;
  --animation-wait: 1s infinite linear;
  --animation-inputs: 2s infinite ease;
}